# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
*.iml
.workspace.xml
.vscode

# Python
__pycache__/
__pycache__
*.py[cod]
*.pyc
*.pyd
*.pyo
*.egg-info/
venv/
.venv/
env/

# Логи и кэш
*.log
*.cache
*.sqlite3

# Replit 
.replit
.replit.nix
.replit/
".env" 